.Red {
    background-color: #ff0000;
    font-size: 1.5rem;
    color: #fff;
    width: 128px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
  }